<>
  <effect
    meta={{
      counter: 0,
      action: {},
    }}
    run={async () => {
      meta.action = {
        addCounter: () => {
          meta.counter++;
        },
      };
    }}
  />
  <>
    <div class="text-2xl">Page Home</div>
    <div class={`text-2xl`}>Counter: {meta.counter}</div>
    <primary
      class={`flex flex-col items-start justify-start`}
      onClick={meta.action.addCounter}
    >
      Add Counter
    </primary>
  </>
</>